<nav class="mx-3 navbar">
	<div class="container-fluid width-auto">
		<div class="row justify-content-center">
            <NavLink class="col mx-3 text-center btn-primary header-btn" href="json-schema">
                <div>
                    <div>JSON Schema</div>
					<div class="feature-description text-muted-light">Constraints-based validation of JSON data</div>
                </div>
            </NavLink>
			<NavLink class="col mx-3 text-center btn-primary header-btn disabled" href="json-path">
				<div class="stamp">
					COMING SOON
				</div>
				<div>
					<div>JSON Path</div>
					<div class="feature-description text-muted-light">Query JSON data - "XPath for JSON"</div>
				</div>
			</NavLink>
			<NavLink class="col mx-3 text-center btn-primary header-btn disabled" href="json-e">
				<div class="stamp">
					COMING SOON
				</div>
				<div>
					<div>JSON-e</div>
					<div class="feature-description text-muted-light">Templating and transformation of JSON data</div>
				</div>
			</NavLink>
			<NavLink class="col mx-3 text-center btn-primary header-btn disabled" href="json-logic">
				<div class="stamp">
					COMING SOON
				</div>
				<div>
					<div>JSON Logic</div>
					<div class="feature-description text-muted-light">Complex rule definition and evaluation using JSON</div>
				</div>
			</NavLink>
			<NavLink class="col mx-3 text-center btn-primary header-btn disabled" href="json-patch">
				<div class="stamp">
					COMING SOON
				</div>
				<div>
					<div>JSON Patch</div>
					<div class="feature-description text-muted-light">Describe and process alterations to JSON documents</div>
				</div>
			</NavLink>
			<NavLink class="col mx-3 text-center btn-primary header-btn disabled" href="json-pointer">
				<div class="stamp">
					COMING SOON
				</div>
				<div>
					<div>JSON Pointer</div>
					<div class="feature-description text-muted-light">Identify specific locations within JSON data</div>
				</div>
			</NavLink>
		</div>
	</div>
</nav>
