@page "/"
@using LearnJsonEverything.Services

<PageTitle>Learn json-everything</PageTitle>

<div class="row mx-3 fill-remaining">
	<div class="mh-100 scroll">
		<div class="text-center">
			<h1 class="display-4 mt-5 mb-4">
				Learn <span class="font-monospace text-muted">json-everything</span>
			</h1>
			<p class="lead mb-5">An interactive guide to utilizing JSON in .Net</p>
		</div>
		<div class="mt-5 text-justify">
			<MarkdownSpan Content="@HelpContent.Intro"></MarkdownSpan>
		</div>
	</div>
</div>