/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-zomu7itkbl] {
/*    background-color: #2e2e2e;
    color: white;
*/    display: flex;
    flex-direction: column;
    position: relative;
}

main[b-zomu7itkbl] {
    flex: 1;
}

article[b-zomu7itkbl] {
	overflow: hidden;
}

.sidebar[b-zomu7itkbl] {
    background-color: #5B009F;
}

.top-row[b-zomu7itkbl] {
    align-items: center;
    height: 3.5rem;
    justify-content: flex-end;
}

.top-row[b-zomu7itkbl]  a, .top-row[b-zomu7itkbl]  .btn-link {
    margin-left: 1.5rem;
    text-decoration: none;
    white-space: nowrap;
}

.top-row[b-zomu7itkbl]  a:hover, .top-row[b-zomu7itkbl]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-zomu7itkbl]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-zomu7itkbl] {
        display: none;
    }

    .top-row.auth[b-zomu7itkbl] {
        justify-content: space-between;
    }

    .top-row[b-zomu7itkbl]  a, .top-row[b-zomu7itkbl]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-zomu7itkbl] {
        flex-direction: row;
    }

    .sidebar[b-zomu7itkbl] {
        height: 100vh;
        position: sticky;
        top: 0;
        width: 250px;
    }

    .top-row[b-zomu7itkbl] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-zomu7itkbl]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }
}
/* /Shared/MarkdownSpan.razor.rz.scp.css */
/* COLOR VARIABLES*/
:root[b-vt8qwrn6xe] {
  --card-box-shadow: 0 1px 2px 0 rgba(61, 65, 68, 0.06), 0 1px 3px 1px rgba(61, 65, 68, 0.16);
}

/* CODE HIGHLIGHT */
pre[b-vt8qwrn6xe] {
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  tab-size: 4;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f0f0f0;
  border-radius: 4px;
  border: none;
  box-shadow: var(--card-box-shadow);
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-v1ggormogk] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-v1ggormogk] {
    background-color: rgba(0, 0, 0, 0.4);
    height: 3.5rem;
}

.navbar-brand[b-v1ggormogk] {
    font-size: 1.1rem;
}

.oi[b-v1ggormogk] {
    font-size: 1.1rem;
    top: -2px;
    vertical-align: text-top;
    width: 2rem;
}

.nav-item[b-v1ggormogk] {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-v1ggormogk] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-v1ggormogk] {
    padding-bottom: 1rem;
}

.nav-item[b-v1ggormogk]  a {
    align-items: center;
    border-radius: 4px;
    color: #d7d7d7;
    display: flex;
    height: 6.5rem;
}

.nav-item[b-v1ggormogk]  a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item[b-v1ggormogk]  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-v1ggormogk] {
        display: none;
    }

    .collapse[b-v1ggormogk] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.feature-description[b-v1ggormogk] {
    font-size: small;
    font-style: italic;
}
/* /Shared/Teacher.razor.rz.scp.css */
#layout[b-ehorqxe7rc] {
  padding: 5px;
}

#workspace[b-ehorqxe7rc] {
  height: calc(70% - 45px/2);
}
#output[b-ehorqxe7rc] {
  height: calc(30% - 45px/2);
}

#controls[b-ehorqxe7rc] {
  height: 45px !important;
}

.grid-panel[b-ehorqxe7rc] {
  flex: 1 1 auto;
  border: solid 1px #CCBCD9;
  border-radius: 5px;
  padding: 10px !important;
  margin: 5px;
}

.row-margin-reset[b-ehorqxe7rc] {
  margin-left: auto;
  margin-right: auto;
}

[role="option"][b-ehorqxe7rc] {
  position: relative;
  display: block;
  align-content: center;
  text-align: left;
  margin: 2px;
  line-height: 1.8em;
  cursor: pointer;
}

[role="listbox"]:focus [role="option"].focused[b-ehorqxe7rc],
[role="option"]:hover[b-ehorqxe7rc] {
  color: white;
}

.btn-list-option[b-ehorqxe7rc] {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}

ol[b-ehorqxe7rc], ul[b-ehorqxe7rc] {
  padding-left: .5rem;
}

div[b-ehorqxe7rc]::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

div[b-ehorqxe7rc]::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent;
}

div[b-ehorqxe7rc]::-webkit-scrollbar-thumb {
  background-color: #CCBCD9 !important;
  border: 1px solid #1a1a1a !important;
  border-radius: 2.5px !important;
}
